* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans Condensed';
    padding: 20px 60px;
    background-color: #FEFDFD;
    color: #666666;
}

a {
    text-decoration: none;
    color: #666666;
}

li {
    list-style: none;
}